# LOAD DATASET

In [1]:
import pandas as pd
import numpy as np


concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

# PREPROCESSING

check for null values

In [2]:
concrete_data.shape
concrete_data.describe()
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [3]:

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [4]:

target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

normalising the tarining data

In [5]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
 
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# MODEL BUILDING

In [7]:

import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# build the model
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')

# TRAINING

In [8]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 6128.2554
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 3085.3442
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 1390.2056
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 666.3726
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 533.5297
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 459.6014
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 403.7722
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 358.9265
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 328.4892
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 301.1226
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 278.9613
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 260.2862
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 245.7073
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 231.9805
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 221.1249
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 212.1447
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 204.1283
Epoch 18/50
23/23 [==============================] - 0s 914us/step - loss: 196.9313
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 191.1336
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 185.7553
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 180.7361
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 176.6215
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 172.6581
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 169.4005
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 166.2393
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 163.5708
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 161.4974
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 159.2560
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 157.4569
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 155.9948
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 153.8136
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 152.6287
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 150.8863
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 149.3108
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 147.5538
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 146.8809
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 145.4051
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 144.8401
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 143.4247
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 142.7379
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 141.9026
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 140.9809
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 140.2619
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 139.8474
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 139.4191
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 138.1121
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 139.5203
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 137.4209
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 137.3678
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 136.5262

In [9]:
from sklearn.metrics import mean_squared_error
y_pred=model.predict(X_test)
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

10/10 [==============================] - 0s 889us/step
138.10533019935994 0.0

# EVALUATION

In [11]:

total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with  normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 45.345489501953125
10/10 [==============================] - 0s 667us/step
MSE 2: 52.488990783691406
10/10 [==============================] - 0s 2ms/step
MSE 3: 45.82562255859375
10/10 [==============================] - 0s 956us/step
MSE 4: 47.379512786865234
10/10 [==============================] - 0s 1ms/step
MSE 5: 47.90459442138672
10/10 [==============================] - 0s 918us/step
MSE 6: 56.94124221801758
10/10 [==============================] - 0s 1ms/step
MSE 7: 55.55364990234375
10/10 [==============================] - 0s 2ms/step
MSE 8: 44.28974533081055
10/10 [==============================] - 0s 2ms/step
MSE 9: 47.901851654052734
10/10 [==============================] - 0s 3ms/step
MSE 10: 47.835845947265625
10/10 [==============================] - 0s 4ms/step
MSE 11: 45.570640563964844
10/10 [==============================] - 0s 3ms/step
MSE 12: 43.76219940185547
10/10 [==============================] - 0s 4ms/step
MSE 13: 56.89473342895508
10/10 [==============================] - 0s 4ms/step
MSE 14: 52.47591781616211
10/10 [==============================] - 0s 4ms/step
MSE 15: 47.98528289794922
10/10 [==============================] - 0s 2ms/step
MSE 16: 41.56634521484375
10/10 [==============================] - 0s 3ms/step
MSE 17: 45.91324234008789
10/10 [==============================] - 0s 3ms/step
MSE 18: 50.73225021362305
10/10 [==============================] - 0s 4ms/step
MSE 19: 41.80661392211914
10/10 [==============================] - 0s 2ms/step
MSE 20: 45.3333625793457
10/10 [==============================] - 0s 3ms/step
MSE 21: 42.412288665771484
10/10 [==============================] - 0s 4ms/step
MSE 22: 44.5580940246582
10/10 [==============================] - 0s 4ms/step
MSE 23: 40.62725830078125
10/10 [==============================] - 0s 5ms/step
MSE 24: 46.705230712890625
10/10 [==============================] - 0s 4ms/step
MSE 25: 46.289798736572266
10/10 [==============================] - 0s 2ms/step
MSE 26: 47.51972198486328
10/10 [==============================] - 0s 2ms/step
MSE 27: 46.779754638671875
10/10 [==============================] - 0s 3ms/step
MSE 28: 41.66391372680664
10/10 [==============================] - 0s 3ms/step
MSE 29: 50.86143112182617
10/10 [==============================] - 0s 2ms/step
MSE 30: 46.07807540893555
10/10 [==============================] - 0s 4ms/step
MSE 31: 49.07796859741211
10/10 [==============================] - 0s 3ms/step
MSE 32: 40.47892761230469
10/10 [==============================] - 0s 4ms/step
MSE 33: 43.01813507080078
10/10 [==============================] - 0s 3ms/step
MSE 34: 47.807865142822266
10/10 [==============================] - 0s 2ms/step
MSE 35: 45.28059768676758
10/10 [==============================] - 0s 2ms/step
MSE 36: 51.34980010986328
10/10 [==============================] - 0s 4ms/step
MSE 37: 49.74407196044922
10/10 [==============================] - 0s 4ms/step
MSE 38: 47.308841705322266
10/10 [==============================] - 0s 600us/step
MSE 39: 43.80824279785156
10/10 [==============================] - 0s 2ms/step
MSE 40: 42.68552780151367
10/10 [==============================] - 0s 894us/step
MSE 41: 51.19016647338867
10/10 [==============================] - 0s 2ms/step
MSE 42: 43.13480758666992
10/10 [==============================] - 0s 2ms/step
MSE 43: 43.717166900634766
10/10 [==============================] - 0s 883us/step
MSE 44: 49.63466262817383
10/10 [==============================] - 0s 2ms/step
MSE 45: 49.60851287841797
10/10 [==============================] - 0s 883us/step
MSE 46: 53.15354537963867
10/10 [==============================] - 0s 891us/step
MSE 47: 50.629608154296875
10/10 [==============================] - 0s 2ms/step
MSE 48: 48.078521728515625
10/10 [==============================] - 0s 881us/step
MSE 49: 49.514610290527344
10/10 [==============================] - 0s 890us/step
MSE 50: 48.03773880004883
10/10 [==============================] - 0s 887us/step


Below is the mean and standard deviation of 50 mean squared errors with  normalized data. Total number of epochs for each training is: 50

Mean: 47.28524069237503
Standard Deviation: 3.9466639062821134

as we can see above the mean and standard deviation of MSE decreased as compared to the non normalised data